.navbar-default{
    background-color: #3485c7;
}

.navbar-brand{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}